<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://code.alibabatech.com/schema/dubbo 
						   http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="${spring.application.name}"/>

	<!--<dubbo:registry address="127.0.0.1:2181,127.0.0.1:2182,127.0.0.1:2183" client="curator" protocol="zookeeper" />-->
	<dubbo:registry address="127.0.0.1:2181" protocol="zookeeper" />
	<dubbo:consumer filter="traceConsumerFilter"></dubbo:consumer>

	<!--<dubbo:reference check="false"
					 timeout="200000"
					 url="dubbo://127.0.0.1:${dubbo.provider.port}/com.jim.framework.dubbo.core.service.ProductService"
					 interface="com.jim.framework.dubbo.core.service.ProductService"
					 id="productService">-->

	<dubbo:reference check="false"
					 timeout="200000"
					 interface="com.jim.framework.dubbo.core.service.ProductService"
					 id="productService">
	</dubbo:reference>


</beans>